{% extends 'profile/_dashboard.html.twig' %}

{% block title 'Mes hotels' %}

{% block page %}
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<ol class="breadcrumb">
						<li class="active">Dashboard</li>
					</ol>
					{% for hotel in hotels %}
						<div class="background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
							<div class="row no-gutters">
								<div class="col-lg-4">
									<div class="hotel-img position-relative">
										<img src="https://images.unsplash.com/photo-1506534518223-4d8af6de5bc3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=300" alt="">
										<div class="hover-option background-second-color opacity-6"></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="padding-30px">
										<h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark">{{ hotel.hotelName}}</a></h3>
										<small class="text-uppercase text-extra-small">

											<i class="fa fa-star margin-right-5px text-orange"></i>
											4.3 Super
										</small>
										<div class="claerfix"></div>
										<i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </i>
										<div class="margin-bottom-8px text-uppercase text-extra-small">
											<strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>per person
										</div>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<p>Aucun hôtel enregistré en votre nom</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
