{% extends 'base.html.twig' %}

{% block body %}
	<div class="padding-tb-40px background-light-grey">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">
											Détails de paiement
										</h3>
									</div>
									<div class="panel-body">
										<form role="form">
											<div class="form-group">
												<label for="cardNumber">
													NUMÉRO DE CARTE</label>
												<div class="input-group">
													<input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
													       required autofocus />
													<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-5 col-md-5">
													<div class="form-group">
														<label for="expityMonth">
															EXPIRY DATE</label>
														<div class="col-xs-6 col-lg-6 pl-ziro">
															<input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
														</div>
														<div class="col-xs-6 col-lg-6 pl-ziro">
															<input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
													</div>
												</div>
												<div class="col-xs-2 col-md-5">
													<div class="form-group">
														<label for="cvCode">
															CVV CODE</label>
														<input type="password" class="form-control" id="cvCode" placeholder="CV" required />
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<br/>
								<a href="{{ path('travel.confirm') }}" class="btn btn-success btn-lg btn-block" role="button">Payer et terminer la réservation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

