<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TravelZ App{% endblock %}</title>
        {{ encore_entry_link_tags('base') }}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('base') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>

        {% block header %}{{ include('additionnal/_header.html.twig') }}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{{ include('additionnal/_footer.html.twig') }}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </body>
</html>
