<footer class="text-center text-lg-left">
	<div class="container">
		<div class="row padding-tb-30px border-top-1 border-grey-1">
			<div class="col-lg-4">
				<p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2021 By Massoud FATAOU (Spider)</p>
			</div>
		</div>

	</div>

</footer>
