<header class="background-white box-shadow">
	<div class="background-main-color padding-tb-5px">
		<div class="container">
			<div class="row">
				<div class="col-sm d-none d-sm-block">
					<ul class="user-area list-inline float-right margin-0px text-white">
						<li class="list-inline-item padding-right-10px"><a href="#"><i class="fa fa-lock padding-right-5px"></i>Login</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-user-plus padding-right-5px"></i>Register</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-output">
		<div class="container header-in">
			<div class="row">
				<div class="col-lg-3">
					<a id="logo" href="#" class="d-inline-block margin-tb-10px"><img src="images/logo.png" alt=""></a>
					<a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
				</div>
			</div>
		</div>
	</div>
</header>
